{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-5 row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4 align-self-center">
            <h4>{{ app.user.email }}</h4>
            {{ form_start(form) }}
                <div class="input-group mb-3">
                    <span class="input-group-text">&#128274;</span>
                    {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
                </div>
                <div class="d-grid gap-2">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-outline-primary'}}) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
