<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') == 'app_profile' %}active{% endif %}"
                       aria-current="page"
                       href="{{ path('app_profile') }}">
                        Профиль
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') == 'app_learning_program' %}active{% endif %}"
                       href="{{ path('app_learning_program') }}">
                        Учебная программа
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') == 'app_lesson_list' %}active{% endif %}"
                       href="{{ path('app_lesson_list') }}">
                        База занятий
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('sonata_admin_dashboard') }}">
                            В админку
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <form action="{{ path('app_logout') }}" class="justify-content-end">
            <button class="btn btn-outline-danger" type="submit">Выйти</button>
        </form>
    </div>
</nav>